*{
    font-family: var(--global-primary-font);
    color: var(--global-primary-color);
}

body{
    background-image: url("../img/background-login.png");
    background-size: cover;
}

.header{
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.box__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vw;
}

.logo{
    width: 3rem;
}

.navbar{
    /* background-color: #1d4dbd; */
    width: 69vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list{
    width: 50vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list li{
    border-bottom: 0.2rem solid #f8f8f800;
    transition: ease-in-out;
}

.nav__list li:hover {
    transition: 500ms;
    border-bottom: 0.2rem solid #ffffff;
}